lib/src/main/resources/drc-jms-sender.xml
<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2016. Kloudtek Software Solutions Ltd
  -->

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:secure-property-placeholder="http://www.mulesoft.org/schema/mule/secure-property-placeholder"
      xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
      xmlns:bti="http://www.mulesoft.org/schema/mule/ee/bti"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cors="http://www.mulesoft.org/schema/mule/cors"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ee/bti http://www.mulesoft.org/schema/mule/ee/bti/current/mule-bti-ee.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.mulesoft.org/schema/mule/cors http://www.mulesoft.org/schema/mule/cors/current/mule-cors.xsd
http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd
http://www.mulesoft.org/schema/mule/secure-property-placeholder http://www.mulesoft.org/schema/mule/secure-property-placeholder/current/mule-secure-property-placeholder.xsd">
    <flow name="drc-send-jms">
        <set-variable variableName="msgId" value="#[payload.id]" doc:name="Variable"/>
        <set-variable variableName="queueId" value="#[payload.originId]" doc:name="Variable"/>
        <logger category="drc.sender.jms" message="Adding metadata: #[payload.metadata]" level="INFO" doc:name="Logger"/>
        <foreach collection="#[payload.metadata]" doc:name="For Each">
            <logger category="drc.sender.jms" message="Adding metadata element: #[flowVars.key]=#[payload]" level="INFO" doc:name="Logger"/>
            <set-property propertyName="#[flowVars.key]" value="#[payload]"/>
        </foreach>
        <set-payload value="#[flowVars.data]" doc:name="Set flowVars.data as payload"/>
        <logger category="drc.sender.jms" message="Sending Data #[payload]" level="INFO" doc:name="Logger"/>
        <jms:outbound-endpoint queue="#[flowVars.queueId]" connector-ref="Active_MQ" doc:name="JMS">
            <ee:multi-transaction action="BEGIN_OR_JOIN"/>
        </jms:outbound-endpoint>
        <logger category="drc.sender.jms" message="Sent message #[flowVars.msgId] to JMS queue #[flowVars.queueId]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
