mule/src/main/app/sqs-sender.xml
<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2016. Kloudtek Software Solutions Ltd
  -->

<mule xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd">
    <flow name="send-sqs">
        <set-variable variableName="queueUrl" value="#[payload.originId]" doc:name="Variable"/>
        <set-variable variableName="metadata" value="#[payload.metadata]" doc:name="Variable"/>
        <component class="com.kloudtek.drc.mule.CreateSQSMessage" doc:name="CreateSQSMessage"/>
        <sqs:send-message config-ref="Amazon_SQS__Configuration" queueUrl="#[flowVars.queueUrl]" doc:name="Send to origin queue"/>
        <logger category="drc.sender.sqs" message="Sent message #[payload.id] to sqs queue #[flowVars.queueUrl]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
