mule/src/main/app/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2016. Kloudtek Software Solutions Ltd
  -->

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:sqs="http://www.mulesoft.org/schema/mule/sqs"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd

http://www.mulesoft.org/schema/mule/sqs http://www.mulesoft.org/schema/mule/sqs/current/mule-sqs.xsd

http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="testFlow">
        <http:listener config-ref="api-httpListenerConfig" path="/test" doc:name="HTTP"/>
        <sqs:send-message config-ref="Amazon_SQS__Configuration" queueUrl="https://sqs.us-east-1.amazonaws.com/148911335818/devDQLTest" doc:name="Amazon SQS"/>
    </flow>
    <flow name="sqs-test">
        <sqs:receive-messages config-ref="Amazon_SQS__Configuration" queueUrl="https://sqs.us-east-1.amazonaws.com/148911335818/devDQLTest" doc:name="Amazon SQS (Streaming)" preserveMessages="true" visibilityTimeout="2"/>
        <logger message="SQS Received from test queue: #[payload]" doc:name="Logger" category="test" level="INFO"/>
        <set-payload value="#[payload]" mimeType="application/json" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-payload>
        </dw:transform-message>

        <choice doc:name="Choice">
            <when expression="#[payload.valid == 'true']">
                <logger message="payload is valid: #[payload]" level="INFO" doc:name="Logger"/>
                <sqs:delete-message config-ref="Amazon_SQS__Configuration" doc:name="Amazon SQS" queueUrl="https://sqs.us-east-1.amazonaws.com/148911335818/devDQLTest" />
            </when>
            <otherwise>
                <logger message="payload is not valid: #[payload]" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
<!--
        <set-variable variableName="metadata" value="#[message.inboundProperties.properties]" doc:name="Set metadata"/>
        <set-variable variableName="origin" value="sqs" doc:name="Set origin"/>
        <set-variable variableName="originId" value="devDQLTest" doc:name="Set origin"/>
-->
        <exception-strategy ref="global-exception-strategy" doc:name="Reference Exception Strategy"/>
    </flow>
</mule>
